body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/*navbar*/

.column {
  float: left;
  width: 50%;
  
}

/* Clear floats after the columns */
.row:after {
  float: right;
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 50%;
  height:20%;
  padding: 5px;
}


/* Clear floats after the columns */
.row:after {
  float: right;
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container {    /* prb*/
  width:50px;
  height:50px;
  width: 50%;
}
.container:after {
  width: 50px;
  height: 50px;
  content: "";
  display: table;
  clear: both;
  
}


.container2 {    /* prb*/
  width:20px;
  height:20px;
  width: 50%;
}
.container2.after {
  width: 50px;
  height: 50px;
  content: "";
  display: table;
  clear: both;
  
}


  /*navbar shadow*/
  .topnav {
    
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 2px 4px -2px rgb(73, 72, 72);
  }
  label.logo{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
    color: #076A96 ;
  }

  .topnav a {
    float: left;
    display: block;
    color: #076A96;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
      /*navbar hover*/
   .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 
  
  .topnav a.active {
    background-color: #076A96;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
    /*navbar right side elements*/
  .topnav .options{
    float: right;
    height: 24px;
  }
  .topnav .options {
    display: inline-block;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  
      /*navbar*/

/*//////////////////////////////////////////////////////*
      /* The sidebar menu */
.sidebar {
    margin-top: 53px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:absolute;/*  Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    border: solid 1px lightgrey;
    background-color: rgb(255, 250, 250); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #076A96;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgba(207, 207, 207, 0.568);
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    border-bottom: 1px solid #076A96;
    text-decoration: none;
  }
  
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    margin-top: 10px;
    right: 0px;
    font-size: 20px;
    margin-left: 10px;
    color: #f8f8f8;
    background-color: #076A96;
    margin-bottom: 10px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 14px 16px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }



  .dropdown-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #076A96;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgba(207, 207, 207, 0.568);
  }
  
  /* When you mouse over the navigation links, change their color */
  .dropdown-menu a:hover {
    border-bottom: 1px solid #076A96;
    text-decoration: none;
  }
  
/*//////////////////////////////////////////////////////*

  /*search bar*/
  form.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    margin-left: 10px;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #076A96;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 45px;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/*//////////////////////////////////////////////////////*


  /*main Body*/

  h1{
    color: #076A96;
  }

  h2{
    color: #076A96;
  }




  /*Tab*/

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}

/* Style the buttons inside the tab */
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0s;
  font-size: 17px;
}
.tablinks{
    color: #676767;
}
/* Change background color of buttons on hover */
.tablinks:hover {
    border-bottom: 2px solid #91deff;
}

/* Create an active/current tablink class */
.tablinks.active {
    border-bottom: 2px solid #076A96;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}


/*tab contents*/
#content {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#content th {
  padding: 8px;

}
#content td{
    padding: 8px;
    border:1px solid #676767;
  }

#content tr:nth-child(even){background-color: #f2f2f2;}

#content tr:hover {background-color: #ddd;}

#content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
}

.date{
    color: #676767;
    padding-left: 10px;
}


.tablinks2 {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0s;
  font-size: 17px;
}
.tablinks2{
    color: #676767;
}
/* Change background color of buttons on hover */
.tablinks2:hover {
    border-bottom: 2px solid #91deff;
}

/* Create an active/current tablink class */
.tablinks2.active {
    border-bottom: 2px solid #076A96;
}

/* Style the tab content */
.tabcontent2 {
  display: none;
  padding: 6px 12px;
  border-top: none;
}


/*tab contents*/
#content {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



/*project page*/

.createProject{
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
  color: #676767;
  margin-top: 7px;

}

.createProject:hover {
  color:#076A96
}

.projectDataButton{
  width: 70%;
  height: 50px;
  text-align: left;
  font-size: large;
  background-color: #ffffff;
  border:1px solid #6767677c;
  margin-bottom: 5px ;
}

.projectDataButton:hover{
  background-color: #6767677c;
}

.profileImage{
  float: left;
  padding-right: 10px;
}

.peopleImage{
  margin-top: 5px;
  margin-right: 20px;
}

.nameUser{
  font-size: 20px;
  padding-bottom: 35px;
}

.peopleDataButton{
  align-content: center ;
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: 25;
  background-color: #ffffff;
  border:1px solid #6767677c;
}
.peopleDataButton:hover{

  background-color: #6767677c;
}

.projectTableHeader{
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  background-color: #ffffff;
  border: #881818;
}

.WorkTableHeader{
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  background-color: #ffffff;
  border: #881818;
}

.WorkTableContent{
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  border: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.add{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
 
  transition: 0.3s;
  font-size: 13px;
  color: #676767;
  margin-top: 7px;

}

.add:hover {
  color:#076A96
}

/*Login*/
.LogInLogo{
  font-family: 'Baloo Bhai 2', cursive;
    font-size: 48px;
    margin-left: 12px;
    color: #076A96 ;
    /* float: left; */
}

.topSignup{
  margin-top: 15px;
  margin-right: 30px;
}

.botol{
    width: 80px;
    background: #076A96;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 45px;
    border-radius: 9px;
    margin-top: 15px;
    margin-right: 30px;
}

.botol:hover {
  background: #0b7dda;
}

.logoset{
  float: right;
}

.logInForm{
  padding-top: 20px;
  background-color: white;
  margin-top: 10%;
  border-radius: 9px;
  width:50%;
  margin-left: 25% ;
  align-content: center;
  box-shadow: 0 2px 4px -2px rgb(73, 72, 72);
}


.formSetup{
  width: 60%;
 margin-left: 22%;
}

.logButton{
  width: 60%;
 margin-left: 22%;
}

.logButton:hover {
  background: #0b7dda;
}










.box {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  padding-top: 10px;
}

.kanban-block,
.create-new-task-block {
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
}

#workBoard {
  background-color: #ffffff;
  border: 2px solid #b6b6b6;
}

.taskIB {
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid rgb(128, 127, 127);
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

#taskIB-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.create-new-task-block {
  display: none;
  /* display: flex; */
  background: #ffaf00;
  width: 64.4%;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

.form-row-label {
  width: 15%;
  padding: 0.2rem;
  padding-right: 0.5rem;
  border: 0.1rem solid black;
  border-right: 0;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.form-row-input {
  border: 0.1rem solid black;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  width: 85%;
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

#edit-button,
#save-button,
#cancel-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

#edit-button {
  display: none;
}




.cngbtn{
  border: none;
  color: #676767;
  background-color: #ffffff;
  height: 25px;
}
.cngbtn:hover{
  outline: none;
    border-color: #676767;
    box-shadow: 0 0 10px #676767;
}


.addpeepsbtn{
  border: none;
  color: #676767;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
}
.addpeepsbtn:hover{
    color: #444;
}


.profileImgUp{
  border:1px solid #0b7dda;
  background-color: #0b7dda;
  color: #f1f1f1;
  border-radius: 50%;
  height:30px;
  position:relative; 
  right:40px; 
  top:55px;

}

.profileImgUp:hover{
 background-color: #076A96;
 color: #f1f1f1;

}

.profIn{
  width: 70%;
}



div.notBoard {
  margin:4px, 4px;
  padding:4px;
  width: 98%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  border:1px solid #c2c1c1;
}

.notice{
  border:1px solid #c2c1c1;
  margin-top: 10px;
  color: #676767;
}

.notice-content{
  font-size: 14px;
}

.notice-date{
  float: right;
  font-weight: bold;
}


.attendance{
  margin:4px, 4px;
  padding:4px;
  width: 98%;
  height: 300px;
  text-align:justify;
  border:1px solid #c2c1c1;
}

.chat{
  margin:4px, 4px;
  padding:4px;
  width: 98%;
  height: 200px;
  text-align:justify;
  border:1px solid #c2c1c1;
  border-top-style: none;
  background-color: #c2c1c1;
}

.chatBox{
  margin:4px, 4px;
  padding:4px;
  width: 98%;
  height:53px;
  text-align:justify;
  border:1px solid #c2c1c1;
  border-top-style: none;
}

.chatOpts{
  border:1px solid #c2c1c1;
  width: 98%;
  
}

#Projects{
  background-color: #dad6d6;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  height: 30px;
}

.activity{
  margin:4px, 4px;
  padding:4px;
  width: 98%;
  height: 300px;
  text-align:justify;
  border:1px solid #c2c1c1;
}



.leaveReq{
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
  color: #676767;
  margin-top: 7px;

}

.leaveReq:hover {
  color:#076A96
}


.reqbtn{
  border: none;
  color: #676767;
  background-color: #ffffff;
}
.reqbtn:hover{
  outline: none;
    border-color: #676767;
    box-shadow: 0 0 10px #676767;
}

